.select{
  color:#00677D;
  font-family: "Montaga", sans-serif;
  font-size: 150%;
  background-color: blanchedalmond;  
  text-align: center;
  padding: 25px 0;
  font-weight: bold;  
  
}

.container {
display:flex;
background-color:lightblue;
flex-wrap:wrap;
justify-content:space-between;
}

.toptwo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

.middletwo{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.bottomthree{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 10%;
}

.africa{
  width:100%;
  height: 75%;
  border:2px solid black;
  margin-left: 10%;
  padding: 5px 5px 0px 5px;
}

.africa img{
  width:100%;
  height: 75%;
  margin-top:1em;
}


.nameAfrica{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}


.antarctica{
  width:100%;
  height: 75%;
  border:2px solid black;
  margin-left: 5%;
  margin-right:10%;
  padding: 5px 5px 0px 5px;
}

.antarctica img{
  width:100%;
  height: 75%;
  margin-top:1em;
}

.namePolar{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}

.asia {
  width:100%;
  height: 75%;
  border:2px solid black;
  margin-left: 10%;
  padding: 5px 5px 5px 5px;
}

.asia img{
  width:100%;
  height: 75%;
  margin-top: 1em;
}

.nameAsia{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}

.oceania{
  width: 100%;
  height: 75%;
  border:2px solid black;
  margin-left: 5%;
  margin-right: 10%;
  padding: 5px;
}

.oceania img{
  width: 100%;
  height: 75%;
  margin-top: 1em;
}

.nameOceania{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}

.europe{
  width:100%;
  height: 80%;
  border:2px solid black;
  margin-left: 5%;
  padding: 5px;
}

.europe img{
  width:100%;
  height: 70%;
  margin-top: 1em;
}

.nameEurope{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}

.north{
  width: 100%;
  height: 80%;
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
}

.north img{
  width: 100%;
  height: 70%;
  margin-top: 1em;
}

.nameNorth{
  text-align: center;
  font-size: 95%;
  font-weight: bold;
}

.south {
  width: 100%;
  height: 80%;
  border: 2px solid black;
  margin-right: 5%;
  padding: 5px;
}

.south img{
  width: 100%;
  height: 72%;
  margin-top: 1ex;
}

.southName{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}