.main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2em;
  border-radius: 15px;
  /* width: 40%; */
}

.infoArea{
  border: 3px solid #804200;
  border-radius: 15px;
  margin-top:2em;
  font-family: 'ABeeZee', sans-serif;
  background-color: rgba(181, 226, 235, .5);
  color: #1C5D80;
}

.nameCountry{
  margin-top: 1em;
}

.nativeName{
  margin-top: 1px;
  margin-bottom: 1em;
}

.long{
  margin-bottom: 1em;
}

.flagPng img{
  border: 10px solid rgb(243, 220, 187);
}


.lat:after{
  content: "\00B0"
}

.long:after{
  content: "\00B0"
}