.center{
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.flag{
  padding:2em
}

.boxName{
  border: 2px solid blue;
  margin: 1em;
  border-radius: 10px;
  height: 85%;
  background-color: rgb(248, 237, 221);
}

.boxName:hover{
  transform: scale(1.2);
}

.country{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 100%;
}

.centerPolar{
  display:flex;
  justify-content: center;
  padding: 2em;
}