

.subRegion{
  display: flex;
  justify-content: center;
  color:orange;
  text-align: center;
  
}

.region{
  border: 3px solid blue;
  padding: 15px 20px;
}

.sub{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

button{
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: rgba(255, 72, 0, 0.117);
padding: 10px;
border: 4px solid #161e96 !important;
transition: all 0.4s ease 0s;
margin-bottom: 2em;
border-radius: 5px;

}
button :hover {
  color: #ffffff !important;
  background: #f1ab1f;
  border-color: #f1ab1f ;
  transition: all 0.4s ease 0s;
}

.name{
font-size: 20px;
}